.content{
  display: none;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  @include tablet{
    flex-direction: row;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.article {
  animation: ease-in 1s forwards fadeIn;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: white;
  background-size:contain;
  @include tablet{
    width: 50%;
  }
  @include desktop{
    width: 25%;
  }
}

.headline{
  background: rgba(0, 0, 0, 0.6);
  display: block;
  // visibility: hidden;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-align: left;
  line-height: 1.5rem;
  // &:hover{
  //   visibility: visible;
  // }
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  display: none;
  z-index: 10;
}

