*{
  box-sizing: border-box;
}

body{
  background: black;
  font-size: 16px;
  color: $p-color;
  font-family: $main-font; 
}

.container{
  width: 100%;
  background: black;
}

h1{
  font-size: 35px;
  color: $p-color;
}