%both{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
// When loaded, the header has a class of "container splash", and when the topics are selected the class changes to "container header". %both applies to both the before and after. 

.splash{
  @extend %both;
  height: 85vh;
  img{
    height: 200px;
  }
  @include tablet{
    flex-direction: row;
    img{
      height: 30vmin;
    }
  }
  @include desktop{
    justify-content: flex-start;
  }
}

.topics-form{
  width: 200px;
  padding: 20px 0;
  text-align: center;
  .topics-dropdown{
    background: lightgrey;
    border: black;
    width: 150px;
    height: 30px;
  }
}

.header{
  min-height: 200px;
  @extend %both;
  img{
    height: 150px;
    width: auto;
    padding: 20px;
  }
  @include tablet{
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100px;
    img{
      height: 100px;
    }
  }
  @include desktop{
    justify-content: flex-start;
  }
}


.header-text{
  padding: 10px 0;
}