.splash{
  height: 85vh;
  display: none;//set display flex when you are done setting the header styles
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  @include tablet{
    flex-direction: row;
  }
  @include desktop{
    justify-content: flex-start;
  }
}

.topics-form{
  width: 200px;
  padding: 20px 0;
  text-align: center;
  .topics-dropdown{
    background: white;
  }
}

.splash-text{
  padding: 10px 0;//watch out changes here. this extends to .header-text in the header section
}