//Variables for tablet and desktop media queries
  $tab-width: 600px;
  $desktop-width: 1000px;

//Style Variables
  $p-color: #ffffff;
  $grey: #c2c2c2;
  $main-font: 'Open Sans', Arial, Helvetica, sans-serif;